

.lineList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}



.lineList ul li {
    display: flex;
    border-bottom:2px solid #ccc;
    justify-content: flex-start;
}

.lineList ul li div {
    flex-grow: 1;
    flex-basis: 400px;
}



.lineList ul li p {
    padding:5px;
    color: white;
   
}

.refresh-wrapper {
    display: flex;
    align-items: center;
}

.refresh-wrapper button{
    justify-content: flex-start;
}

.refresh-wrapper a {
    justify-content: flex-end;
}