.lineList p {
    color: #777;
    font-style: italic;
}

.lineList ul {
    list-style-type: none;
    padding: 0;
}

.lineList ul li:hover{
  background-color: lightblue;
}

.header {
    display: flex;
    justify-content: flex-start;
}