.signup-btns {
    display: flex;
    justify-content: center
}

.input-wrapper {
    display: flex;
    justify-content: center;
}

.input-wrapper input[type=email], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.signup-btns button {
    padding: 4px;
    margin-left:5px;
    margin-right:5px;
}