.signup-btns {
    display: flex;
    justify-content: center
}

.input-wrapper {
    display: flex;
    justify-content: center;
}

input[type=email], input[type=password]{
     display: inline-block;
}
.signup-btns button {
    padding: 4px;
    margin-left:5px;
    margin-right:5px;
}

